<div class='my-4'>
	<label>Logged in as</label>
	
	<div class='input-group mb-3'>
		<input class="form-control" readonly value='<%= user.email %>'>
		<div class="input-group-append">
			<a class='btn btn-danger' href='/logout'>Logout</a>
		</div>
	</div>

	<small>
		<ul>
			<% if (user.google && user.google.id) { %><li>Connected to Google</li><% } %>
			<% if (user.github && user.github.id) { %><li>Connected to Github</li><% } %>
		</ul>
	</small>
</div>

<% if (user.useAccessToken) { %>
	<div class='my-4'>
		<label>API Access Token</label>

		<div class='input-group mb-3'>
			<input class="form-control" readonly value='<%= user.accessToken %>'>
			<div class="input-group-append">
				<a class='btn btn-warning' onclick="return confirm('Are you sure? It will make the current access token obsolete.')" href='/account/accessToken'>Reset</a>
			</div>
		</div>

		<small>
			<ul>
				<li>Keep your access token private. It allows you to authenticate API requests.
				</li>
				<li>Resetting it will make the current one obsolete.</li>
			</ul>
		</small>
	</div>
<% } %>

<% if (user.pswd) { %>
	<p><a class='my-3 btn btn-secondary' href='javascript:' data-toggle="modal" data-target="#passwordModal">Change password</a></p>
<% } else { %>
	<p><a class='my-3 btn btn-secondary' href='javascript:' data-toggle="modal" data-target="#passwordModal">Set a password</a></p>
<% } %>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				
				<h5 class="modal-title">Change your password</h5>
				
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<form id='passwordForm'>
				<div class="modal-body">
					<div class="container-fluid">
						<% if (user.pswd) { %>
							<label>Current password</label><br>
							<input autocomplete="current-password" class='form-control' type='password' name='old' placeholder="*********"/>
							<br>
						<% } %>
						<label>New password</label><br>
						<input autocomplete="new-password" class='form-control' type='password' name='new' placeholder="*********"/>
						<br>
						<label>Confirm</label><br>
						<input autocomplete="new-password" class='form-control' type='password' name='confirm' placeholder="*********"/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-warning">
						<span style='display:none' class="spinner-border spinner-border-sm"></span>
						<span>Change password</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>