		<%- options.pages.customFooterHtml || '' %>
	</div>
</div>

<script>
	// Fix bug with prefill on chrome not updating labels 
	setTimeout(function(){
		document.querySelectorAll( 'label' ).forEach(el => el.style = '')
	}, 300)
</script>
	
</body>